{%include 'nav.html' %}



<section  class="travel-box">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-12  col-md-12 col-sm-12">
        				<div class="single-travel-boxes">
        					<div id="desc-tabs" class="desc-tabs">
                    <!-- Tab panes -->
                    <div class="tab-content">

                      <div role="tabpanel" class="tab-pane active fade in" id="tours">
                       <div class="tab-para">

                            <h2>Sign up</h2>
                            <form method="post" action="">
                              {% csrf_token %}
                              {% for field in form %}
                                <p>
                                  {{ field.label_tag }}<br>
                                  {{ field }}
                                  {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                  {% endif %}
                                  {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                  {% endfor %}
                                </p>
                              {% endfor %}
                            </br></br>
                              <button type="submit"  class="about-view travel-btn" >Sign up</button>
                            </form>


                            </div><!--/.tab-para-->

                          </div><!--/.tabpannel-->

                        </div><!--/.tab content-->
                      </div><!--/.desc-tabs-->
                    </div><!--/.single-travel-box-->
                </div><!--/.col-->
              </div><!--/.row-->
            </div><!--/.container-->
  </section><!--/.travel-box-->
<!--travel-box end-->
{% include 'footer.html' %}
